---
import { storyblokEditable } from '@storyblok/astro';
import Logo from './logo.astro';

const { blok } = Astro.props;
---

<div {...storyblokEditable(blok)}>
  <div class='w-full text-center'>
    <div class='flex flex-row'>
      <div class='w-20 h-20'>
        <img
          src={blok?.profile_picture?.filename}
          class='w-20 h-20 rounded-full'
        />
      </div>

      <div class='px-4 flex flex-col gap-1'>
        <div class='flex text-left'>{blok.name}</div>
        <p class='text-[12px] text-[#666666]'>{blok.role}</p>
        <ul class='flex flex-row gap-x-2 justify-center'>
          {
            blok.social_icons?.map((blok) => {
              return <Logo blok={blok} />;
            })
          }
        </ul>
      </div>
    </div>
  </div>
</div>
